@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100%;
    background-color: #2D2013;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2.5em;
    padding: 20px;
}

.search-container {
    display: flex;
    align-items: center;
}

input,
button {
    padding: 5px 10px;
    font-size: 1em;
    border-radius: 0;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

input:focus,
button:focus {
    outline: 0;
}

.search-input {
    width: 300px;
    border-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search-btn {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.random-btn {
    margin-left: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;

}