@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --meal-icon-height: 175px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100%;
    background-color: #2D2013;
    color: white;
}

.container {
    margin: auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2.5em;
    padding: 20px;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-form {
    display: flex;
}

input,
button {
    padding: 5px 10px;
    font-size: 1em;
    border-radius: 0;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

input:focus,
button:focus {
    outline: 0;
}

.search-input {
    width: 300px;
    border-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search-btn {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.random-btn {
    margin-left: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
}

.search-title {
    font-size: 1.1em;
    padding: 20px;
    letter-spacing: 1px;
}

.meals-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
    column-gap: 20px;
}

.meal {
    position: relative;
    width: var(--meal-icon-height);
    height: var(--meal-icon-height);
    cursor: pointer;
    border: 2px solid white;
}

.meal:hover .meal-info {
    opacity: 1;
}

.meal img {
    width: 100%;
    height: 100%;
}

.meal-info {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: .3s;
    background-color: rgba(0, 0, 0, .7);
}

.picked-meal-container {
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.picked-meal-container h2 {
    font-size: 2.2em;
    margin: 30px;
}

.picked-meal-container img {
    width: 350px;
    height: 350px;
    border: 2px solid white;
}

.category {
    margin: 30px 0;
    padding: 20px;
    line-height: 200%;
    border: 1px solid white;
}

.recipe {
    text-align: justify;
    line-height: 150%;
    text-indent: 20px;
}

.ingredients {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.ingredients li {
    list-style: none;
    padding: 5px 10px;
    margin: 5px;
    background-color: white;
    color: #2D2013;
    border-radius: 5px;
    font-weight: bold;
}

@media (max-width: 800px) {
    .meals-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 700px) {
    .meals-container {
        grid-template-columns: repeat(2, 1fr);
    }

    :root {
        --meal-icon-height: 200px;
    }
}

@media (max-width: 500px) {
    .meals-container {
        grid-template-columns: repeat(1, 1fr);
    }

    :root {
        --meal-icon-height: 300px;
    }
}